.home-container{
    height:100vh;
    width:100vw;
    /* border:2px solid red; */
    display: flex;
    flex-direction: column;
    align-items: center;
}
.timer-wrapper{
    height:40%;
    width:60%;
    border:2px solid red;
    margin-top:100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}