.outer-div {
    font-family: sans-serif;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .color-box {
    height: 130px;
    width: 130px;
  }
  